@using Firma.Models
@model Admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title @Model.id_admina @Model.ime</h2>
<br />

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <td>@Html.LabelFor(model => model.id_admina, new { @class = "control-label" })</td>
                <td>@Html.TextBoxFor(model => model.id_admina, new { disabled = true, @class = "form-control" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.ime, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.ime , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ime, "", new { @class = "text-danger" })
                </td>
            </tr>


        </table>
    </div>
    <p>
        @Html.ValidationSummary(true,
    "Spremanje nije uspjelo! Popravite potrebne podatke i pokušajte ponovno", new { @class = "text-danger" })
    </p>

    <p><input type="submit" value="Spremi" class="btn btn-default" /></p>
    @Html.ActionLink("Povratak na početak spremanja", "Popis", new { @class = "btn btn-link" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}