@using Firma.Models.PoslovnaLogika
@model Artikli

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@using (Html.BeginForm())
{
    // @Html.AntiForgeryToken()  generates a hidden form anti-forgery
    // token that must match in the Edit method of the Movies controller.
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.ime_artikla ,new { @class = "control-label" })</td>
            <td>
                @Html.DropDownListFor(model => model.ime_artikla,
             new SelectList(ViewBag.Art_oda, "value", "text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ime_artikla, "", new { @class = "text-danger" })
            </td>

        </tr>
    </table>

}
    
</body>
</html>
