@using Firma.Models.PoslovnaLogika
@model IEnumerable<Poslovni_partner>


@using (Html.BeginForm())
{
    // @Html.AntiForgeryToken()  generates a hidden form anti-forgery
    // token that must match in the Edit method of the Movies controller.
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>ID</td>
            <td>Naziv</td>
            <td>Adresa</td>
            <td>Mobitell</td>
            <td>Kontakt</td>
            <td>Opis</td>
        </tr>

        @foreach (Poslovni_partner a in Model)
        {
            <tr>
                <td>@a.id_poslovni_partner</td>
                <td>@a.naziv</td>
                <td>@a.adresa</td>
                <td>@a.telefon</td>
                <td>@a.naziv_odgovorne_osobe</td>
                <td>@a.podaci_o_osnivanju</td>
            </tr>

        }
    </table>



    @ViewBag.Title

}
